@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Poppins&display=swap');

html {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url('https://wallpaperaccess.com/full/655045.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100vh;
}

.profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile .avatar {
  border-radius: 100%;
  border: solid 5px #fff;
  background-image: url("../img/photo.png");
  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  -webkit-box-shadow: 5px 5px 50px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 5px 50px 3px rgba(0, 0, 0, 0.35);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile .motto h1 {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-align: center;
  padding-top: 50px;
}

.profile .motto p {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-align: center;
}
